<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Crear Proyecto</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="crearProyecto()">
        <div class="form-group mb-3">
          <label for="nombreProyecto">Nombre del Proyecto:</label>
          <input id="nombreProyecto" class="form-control" [(ngModel)]="proyecto.nombre" name="nombreProyecto">
        </div>
        <div class="form-group mb-3">
          <label for="descripcionProyecto">Descripción del Proyecto:</label>
          <textarea id="descripcionProyecto" class="form-control" [(ngModel)]="proyecto.descripcion" name="descripcionProyecto" rows="3"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="empleadoProyecto">Empleado Asignado:</label>
          <select id="empleadoProyecto" class="form-control" [(ngModel)]="proyecto.empleado" name="empleadoProyecto">
            <option *ngFor="let empleado of empleados" [value]="empleado._id">{{ empleado.nombre }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
