<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">{{ id ? 'Editar' : 'Crear' }} Empleado</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="saveEmployee()">
        <div class="form-group mb-3">
          <label for="nombre">Nombre:</label>
          <input id="nombre" class="form-control" [(ngModel)]="employee.nombre" name="nombre">
        </div>
        <div class="form-group mb-3">
          <label for="apellido">Apellido:</label>
          <input id="apellido" class="form-control" [(ngModel)]="employee.apellido" name="apellido">
        </div>
        <div class="form-group mb-3">
          <label for="email">Email:</label>
          <input id="email" class="form-control" [(ngModel)]="employee.email" name="email">
        </div>
        <div class="form-group mb-3">
          <label for="puesto">Puesto:</label>
          <input id="puesto" class="form-control" [(ngModel)]="employee.puesto" name="puesto">
        </div>
        <div class="form-group mb-3">
          <label for="salario">Salario:</label>
          <input id="salario" class="form-control" [(ngModel)]="employee.salario" name="salario" type="number">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
